.vscode/**
.vscode-test/**
node_modules/**
test/**
.gitignore
.eslintrc.json
.eslintrc.js
**/*.map
**/jsconfig.json
**/tsconfig.json
.github/**
**/*.vsix
generated_code.zip
Appendix.pdf
code_test/**
img/**
launch_tool/generated_file/**
.DS_Store
**/.DS_Store
vsc-extension-quickstart.md
.vscode-test.mjs
README-DEV.md
package-lock.json
launch_tool/script_py/preprocessingcopy.py
images/R.png
website/**